@font-face {
font-family: heliotrope_8_tab;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('heliotrope_8_tab_regular.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_8_tab;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('heliotrope_8_tab_italic.woff2') format('woff2');
}